@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hobbies</h1><br />
</div>

<div>
    <h2>Darien</h2>
    <ul class="list-group">
        <li class="list-group-item">Videojuegos</li>
        <li class="list-group-item">Lectura</li>
        <li class="list-group-item">Investigacion</li>
    </ul>

    <h2>Marcos</h2>
    <ul class="list-group">
        <li class="list-group-item">Futbol</li>
        <li class="list-group-item">Ciclismo</li>
        <li class="list-group-item">Viajar</li>
    </ul>

    <h2>Dan</h2>
    <ul class="list-group">
        <li class="list-group-item">Viajar</li>
        <li class="list-group-item">Dibujo</li>
        <li class="list-group-item">Deporte</li>
    </ul>

    <h2>Gabriel</h2>
    <ul class="list-group">
        <li class="list-group-item">Musica</li>
        <li class="list-group-item">Ejercicio</li>
        <li class="list-group-item">Series</li>
    </ul>
</div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

