@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hobbies</h1><br />
    <h2>Darien</h2>
    <ol>
    <li>VideoJuegos</li>
    <li>Lectura</li>
    <li>Investigacion</li>
    </ol>

    <h2>Marcos</h2>
    <ol>
    <li>Futbol</li>
    <li>Ciclismo</li>
    <li>Viajar</li>
    </ol>

    <h2>Dan</h2>
    <ol>
        <li>Viajar</li>
        <li>Dibujo</li>
        <li>Deporte</li>
    </ol>

    <h2>Gabriel</h2>
    <ol>
        <li>Musica</li>
        <li>Ejercicio</li>
        <li>Series</li>
    </ol>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
