@page
@model Musica
@{
    ViewData["Title"] = "Musica";
}

<div class="text-center">
    <h1 class="display-4">Canciones Favoritas</h1>
</div>

<div>
    <h2>Marcos</h2>
        <ul>
            <li><a href="https://youtu.be/_mMyPJSx8RU?list=RDMM_mMyPJSx8RU" target="_blank">Smooth Criminal</a></li>
            <li><a href="https://youtu.be/A9pd3M1Sxe8" target="_blank">Billie Jean</a></li>
            <li><a href="https://youtu.be/kOn-HdEg6AQ" target="_blank">Beat IT</a></li>
        </ul>
    <h2>Darien</h2>
    <ul>
        <li><a href="https://youtu.be/wsKw_Astidg?si=SFm1r6ntMUalmZXB" target="_blank">Otonoke</a></li>
        <li><a href="https://youtu.be/ApXoWvfEYVU?si=lhCle4Qjxa2DulSZ" target="_blank">Post Malone - Sunflower</a></li>
        <li><a href="https://youtu.be/hWhgrA2dhrk?si=vMH3es0ObGlfVKyo" target="_blank">Full Moon Full Life</a></li>
    </ul>
    <h2>Gabriel</h2>
    <ul>
        <li><a href="https://youtu.be/9sJZOGxRxwM?si=Qua4kJ6utAcSTSMt" target="_blank">90210</a></li>
        <li><a href="https://youtu.be/h35g2e9aIIk?si=_HwP7q58BXo4QJU1" target="_blank">Kanye West - Praise God</a></li>
        <li><a href="https://youtu.be/qAsHVwl-MU4?si=DeL5XxSbi1T8TYxY" target="_blank">Ghost Town</a></li>
    </ul>
    <h2>Dan</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=xBpqkPl8E_Y" target="_blank">Otro Atardecer</a></li>
        <li><a href="https://www.youtube.com/watch?v=Fr9rMmMp3mY" target="_blank">La patrulla</a></li>
        <li><a href="https://www.youtube.com/watch?v=YVkUvmDQ3HY" target="_blank">Without Me</a></li>
    </ul>
</div>
