@page
@model Series
@{
    ViewData["Title"] = "Series";
}

<div class="text-center">
    <h1 class="display-4">Series Favoritas</h1><br />

    <h2>Darien</h2>
    <ol>
        <li><strong>Fullmetal Alchemist: Brotherhood</strong> - <a href="https://m.filmaffinity.com/es/film916461.html">Filmaffinity</a></li>
        <li><strong>El espectacular Spider-Man</strong> - <a href="https://www.filmaffinity.com/es/film725975.html">Filmaffinity</a></li>
        <li><strong>Loki</strong> - <a href="https://www.filmaffinity.com/es/film700415.html">Filmaffinity</a></li>
    </ol>

    <h2>Marcos</h2>
    <ol>
        <li><strong>Spider-Man: La nueva serie animada</strong> - <a href="https://www.filmaffinity.com/es/film719564.html">Filmaffinity</a></li>
        <li><strong>La Casa de papel</strong> - <a href="https://www.filmaffinity.com/es/film879405.html">Filmaffinity</a></li>
        <li><strong>La guerra de las galaxias. Episodio IV</strong> - <a href="https://www.filmaffinity.com/es/film712041.html">Filmaffinity</a></li>
    </ol>

    <h2>Dan</h2>
    <ol>
        <li><strong>Breaking Bad</strong> - <a href="https://www.filmaffinity.com/es/film489970.html">Filmaffinity</a></li>
        <li><strong>Friends</strong> - <a href=" https://www.filmaffinity.com/es/film745443.html">Filmaffinity</a></li>
        <li><strong>BigBangTheory</strong> - <a href="https://www.filmaffinity.com/es/film234364.html">Filmaffinity</a></li>
    </ol>

    <h2>Gabriel</h2>
    <ol>
        <li><strong>One Piece</strong> - <a href="https://www.filmaffinity.com/es/film490270.html">Filmaffinity</a></li>
        <li><strong>Bleach</strong> - <a href="https://www.filmaffinity.com/es/film875381.html">Filmaffinity</a></li>
        <li><strong>Rick y Morty</strong> - <a href="https://www.filmaffinity.com/es/film551351.html">Filmaffinity</a></li>
    </ol>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
