@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Videos Favoritos 2024</title>
</head>
<body>
    <h1>Canciones Favoritas</h1>
    <ul>
        <li><a href="https://youtu.be/_mMyPJSx8RU?list=RDMM_mMyPJSx8RU" target="_blank">Canción 1 de you tube</a></li>
        <li><a href="https://youtu.be/A9pd3M1Sxe8" target="_blank">Canción 2 de you tube</a></li>
        <li><a href="https://youtu.be/kOn-HdEg6AQ" target="_blank">Canción 3 de you tube</a></li>
    </ul>
    <a href="index.php">Volver al inicio</a>
</body>
</html>
